<!-- customer list -->
<div class="customer panel panel-success">
  <h2 class="text-center panel-heading"></h2>
  <table class="table table-bordered">
    <tr>
      <th>Customer ID</th>
      <th>Age</th>
      <th>Location</th>
      <th>Gender</th>
      <th>Income</th>
    </tr>
    <tr>
      <td class="col-md-2"></td>
      <td class="col-md-2"></td>
      <td class="col-md-2"></td>
      <td class="col-md-2"></td>
      <td class="col-md-2"></td>
    </tr>
  </table>
</div>
<!-- customer list end -->
